<ActionBar title="Terapias" class="barra">
    <NavigationButton ios:visibility="collapsed" icon="res://boton_burger" (tap)="onDrawerButtonTap()">
    </NavigationButton>
    <ActionItem icon="res://boton_burger" android:visibility="collapsed" ios.position="left"
        (tap)="onDrawerButtonTap()">
    </ActionItem>
    <Label text="Terapias" class="titulo"> </Label>
</ActionBar>

<GridLayout class="fondo">
   <!-- <ListView [items]="terapias">
        <ng-template let-terapia="item" let-i="index">-->
            <GridLayout rows="40,auto" columns="50,*">
                <Image src="terapia.img"></Image>
                <Label text="Nombre de la terapia" row="0" col="1"></Label>
            </GridLayout>
       <!-- </ng-template>
    </ListView>-->
</GridLayout>
