<ActionBar title="Reporte de diagnóstico" class="barra">
    <NavigationButton ios:visibility="collapsed" icon="res://baseline_arrow_back_white_18" (tap)="onNavigate()">
    </NavigationButton>
    <ActionItem icon="res://baseline_arrow_back_white_18" android:visibility="collapsed" ios.position="left"
        (tap)="onNavigate()">
    </ActionItem>
    <Label text="Reporte de diagnóstico" class="titulo"> </Label>
</ActionBar>
<GridLayout class="fondo">

</GridLayout>
<GridLayout>
    <ScrollView>
        <StackLayout class ="fondoreporte">
            <StackLayout class="paciente">
                <Label class="paciente-text-top" text="Fecha de exploracion: " ></Label>
                <Label class="paciente-text-dato" [text]="exploracionFonologica.fechaExploracionFonlogica" ></Label>
                <Label class="paciente-text" text="Nombre del paciente: " ></Label>
                <Label class="paciente-text-dato" text="{{nombrePaciente}}" ></Label>
                <Label class="paciente-text" text="Número de expediente: " ></Label>
                <Label class="paciente-text-dato" [text]="exploracionFonologica.paciente.numero_expediente" ></Label>
                <Label class="paciente-text" text="Edad: " ></Label>
                <Label class="paciente-text-dato-bottom" text="{{edadPaciente}}"></Label>
            </StackLayout>
            <!-- Diagnostico / Collapse-->
            <FlexboxLayout class="item-lista" justifyContent="space-between" alignItems="center" alignContent="center">
                <Label class="item-lista" text="Diagnóstico" class="title" (tap)="goCollapse($event)">
                </Label>
                <Image src="res://baseline_expand_more_black_18" class="icon" [ngClass]='{ collapse: isCollapsed }'
                    (tap)="goCollapse($event)"></Image>
            </FlexboxLayout>
            <StackLayout  class="item-lista" [visibility]="showCollapseBox ? 'visible' : 'collapse'">
                <Label class="paciente-text" text="Grado de trastorno: " ></Label>
                <label class="paciente-text-dato" [text]="exploracionFonologica.gradoTrastorno"></label>
                <Label class="paciente-text" text="Observaciones de diagnóstico: " textWrap="true"></Label>
                <TextView class="paciente-text-dato" [text]="exploracionFonologica.observaciones" editable="false"></TextView>
            </StackLayout>



            <!-- Plan de trabajo /Collapse -->
            <FlexboxLayout class="item-lista" justifyContent="space-between" alignItems="center" alignContent="center">
                <Label text="Plan de trabajo" (tap)="goCollapse2($event)" class="title">
                </Label>
                <Image src="res://baseline_expand_more_black_18" class="icon" [ngClass]='{ collapse: isCollapsed2 }'
                    (tap)="goCollapse2($event)"></Image>
            </FlexboxLayout>
            <StackLayout class="item-lista" [visibility]="showCollapseBox2 ? 'visible' : 'collapse'">
                <Label class="paciente-text" text="Cada cuando se realiza el plan de trabajo:" textWrap="true"></Label>
                <Label  class="paciente-text-dato" text="{{planTrabajotemporalidad}}" textWrap="true"></Label>
                <Label  class="paciente-text" text="número de bloque: " textWrap="true"></Label>
                <Label  class="paciente-text-dato" text="{{planTrabajonumeroBloque}}" textWrap="true"></Label>
                <Label class="paciente-text" text="Descripción de plan de trabajo:" textWrap="true"></Label>
                <TextView class="paciente-text-dato" text="{{planTrabajoIndicaciones}}" editable="false"></TextView>
            </StackLayout>
        </StackLayout>
    </ScrollView>
</GridLayout>