<ActionBar title="Reporte de diagnóstico" class="barra">
    <NavigationButton ios:visibility="collapsed" icon="res://boton_burger" (tap)="onDrawerButtonTap()">
    </NavigationButton>
    <ActionItem icon="res://boton_burger" android:visibility="collapsed" ios.position="left"
        (tap)="onDrawerButtonTap()">
    </ActionItem>
    <Label text="Reporte de diagnóstico" class="titulo"> </Label>
</ActionBar>
<GridLayout class="fondo">
</GridLayout>
<GridLayout>
    <ScrollView>
        <StackLayout class="fondoreporte">
            <StackLayout class='paciente'>
                <Label class="paciente-text-top" text="Nombre:  {{nombrePaciente}}"></Label>
                <Label class="paciente-text" text="Número de expediente: {{numeroExpediente}}"></Label>
                <Label class="paciente-text-bottom" text="Edad: {{edadPaciente}} años"></Label>
            </StackLayout>
            <RadListView [items]="exploracionesFonologicas">
                <ng-template let-item="item">
                    <GridLayout class="lista" rows="*,*" columns="*, *" (tap)="onNavigate(item)">
                        <label row="0" col="0" class="paciente-text-bold-top" text="Diagnóstico:"></label>
                        <Label row="0" col="1" class="paciente-text-grado"[text]="item.gradoTrastorno"></Label>
                        <label row="1" col="0" class="paciente-text-bold" text="Fecha:"></label>
                        <Label row="1" col="1" class="paciente-text-fecha"[text]="item.fechaExploracionFonlogica"></Label>
                    </GridLayout>
                </ng-template>
            </RadListView>
        </StackLayout>
    </ScrollView>
</GridLayout>