<ActionBar title="Notificaciones" class="barra">
    <NavigationButton ios:visibility="collapsed" icon="res://boton_burger" (tap)="onDrawerButtonTap()">
    </NavigationButton>
    <ActionItem icon="res://boton_burger" android:visibility="collapsed" ios.position="left"
        (tap)="onDrawerButtonTap()">
    </ActionItem>
    <Label text="Notificaciones" class="titulo"> </Label>
</ActionBar>
<GridLayout class="fondo">
    <StackLayout class="contenido">
        <Label text="Notificaciones"></Label>
        <TextView text="Notificaciones" editable="false"></TextView>
    </StackLayout>
</GridLayout>
