<ActionBar title="Reporte de citas" class="barra">
    <NavigationButton ios:visibility="collapsed" icon="res://boton_burger" (tap)="onDrawerButtonTap()">
    </NavigationButton>
    <ActionItem icon="res://boton_burger" android:visibility="collapsed" ios.position="left"
        (tap)="onDrawerButtonTap()">
    </ActionItem>
    <Label text="Reporte de citas" class="titulo"> </Label>
</ActionBar>
<GridLayout class="fondo"></GridLayout>
<GridLayout>
    <TabView selectedTabTextColor="#465de8" tabBackgroundColor="white" tabTextFontSize="16"
        androidSelectedTabHighlightColor="gray" tabTextColor="black">
        <!-- Progreso de citas -->
        <StackLayout class="contenido"
            *tabItem="{title: 'Progreso', iconSource: '~/images/icons/reporte-citas/progreso.png', textTransform: 'lowercase'}">
            <StackLayout class="paciente">
                <label text="PROGRESO DE CITAS - BLOQUE ACTUAL {{bloqueMayor}}"></label>
                <label text="Sesión actual: {{sesionEvaluada}} / 12"></label>
            </StackLayout>
            <GridLayout columns="*,auto,10" rows="auto">
            <StackLayout col="1" row="0" class="notaProgreso" justifyContent="center">
                <label text="Sesiones asistidas: {{asistencias}}" class="sesionAsistida"></label>
                <label text="Sesiones perdidas: {{faltas}}" class="sesionPerdida"></label>
                <label text="Sesiones faltantes: {{restantes}}" class="sesionFaltante"></label>
            </StackLayout>
            </GridLayout>
            <RadRadialGauge title="Sesión actual">
                <RadialScale tkRadialGaugeScales minimum="1" maximum="12" radius="0.80">
                    <TitleStyle tkRadialGaugeTitleStyle textColor="black" ios:verticalOffset="20"
                        android:verticalOffset="50"></TitleStyle>
                    <ScaleStyle tkRadialScaleStyle majorTicksCount="1" minorTicksCount="1" lineThickness="0"
                        labelsCount="12" ticksOffset="0"></ScaleStyle>
                    <RadialBarIndicator tkRadialScaleIndicators minimum="1" maximum="{{asistencias}}" location="0.70">
                        <BarIndicatorStyle tkRadialBarIndicatorStyle fillColor="#9DCA56"></BarIndicatorStyle>
                    </RadialBarIndicator>
                    <RadialBarIndicator tkRadialScaleIndicators minimum="{{asistencias}}" maximum="{{faltas + asistencias}}"
                        location="0.70">
                        <BarIndicatorStyle tkRadialBarIndicatorStyle fillColor="#f43f1f"></BarIndicatorStyle>
                    </RadialBarIndicator>
                    <RadialNeedle #needle tkRadialScaleIndicators isAnimated="true" animationDuration="1000"
                        value="{{sesionEvaluada}}">
                        <NeedleStyle tkRadialNeedleStyle length="0.5" android:topWidth="8" android:bottomWidth="8"
                            ios:topWidth="2" ios:bottomWidth="2"></NeedleStyle>
                    </RadialNeedle>
                </RadialScale>
            </RadRadialGauge>
        </StackLayout>
        <!--Calendario-->
        <StackLayout
            *tabItem="{title: 'Calendario', iconSource: '~/images/icons/reporte-citas/calendario.png', textTransform: 'lowercase'}">
            <RadCalendar [eventSource]="calendarEvents" eventsViewMode="Inline" selectionMode="Single" viewMode="Month"
                transitionMode="Stack" locale="es-MX" (dateSelected)="onDateSelected($event)"
                (dateDeselected)="onDateDeselected($event)" (navigatedToDate)="onNavigatedToDate($event)"
                (navigatingToDateStarted)="onNavigatingToDateStarted($event)"
                (viewModeChanged)="onViewModeChanged($event)"></RadCalendar>
        </StackLayout>
        <!--Listado de citas -->
        <ScrollView
            *tabItem="{title: 'Lista de citas', iconSource: '~/images/icons/reporte-citas/listacitas.png', textTransform: 'lowercase', tabBackgroundColor: 'red'}">
            <StackLayout class="fondoreporte">
                <GridLayout columns="*,auto,10" rows="auto">
                <StackLayout col="1" row="0" class="notaProgresolis" justifyContent="center">
                    <label text="Sesiones asistidas" class="sesionAsistida"></label>
                    <label text="Sesiones perdidas" class="sesionPerdida"></label>
                    <label text="Sesiones faltantes" class="sesionFaltante"></label>
                </StackLayout>
                </GridLayout>
                <RadListView [items]="citasPorBloque">
                    <ng-template let-item="item">
                        <GridLayout class="lista"
                            [ngStyle]="{ 'background-color': item.asistenciaCita === true ? '#9DCA56' : (item.asistenciaCita === null ? '#bababa': '#f43f1f' )}"
                            rows="*,*" columns="30, auto, *">
                            <label row="0" col="1" class="paciente-text-bold-top" text="Tipo de cita:"></label>
                            <Label row="0" col="2" class="paciente-text-grado" [text]="item.tipoCita"></Label>
                            <label row="1" col="1" class="paciente-text-bold" text="Fecha:"></label>
                            <Label row="1" col="2" class="paciente-text-fecha" [text]="item.fechaCita"></Label>
                        </GridLayout>
                    </ng-template>
                </RadListView>
            </StackLayout>
        </ScrollView>
    </TabView>
</GridLayout>

