<ActionBar title="Reporte de citas" class="barra">
    <NavigationButton ios:visibility="collapsed" icon="res://boton_burger" (tap)="onDrawerButtonTap()">
    </NavigationButton>
    <ActionItem icon="res://boton_burger" android:visibility="collapsed" ios.position="left"
        (tap)="onDrawerButtonTap()">
    </ActionItem>
    <Label text="Reporte de citas" class="titulo"> </Label>
</ActionBar>
<GridLayout class="fondo">
    <StackLayout class="contenido">
        <Label text="Reporte citas"></Label>
        <TextView text="progreso se citas, detalles" editable="false"></TextView>
    </StackLayout>
</GridLayout>
