<ActionBar title="Terapias" class="barra">
    <NavigationButton ios:visibility="collapsed" icon="res://baseline_arrow_back_white_18" (tap)="onNavigate()">
    </NavigationButton>
    <ActionItem icon="res://baseline_arrow_back_white_18" android:visibility="collapsed" ios.position="left"
        (tap)="onNavigate()">
    </ActionItem>
    <Label text="{{detalleTerapia.nombreTerapia}}" class="titulo"> </Label>
</ActionBar>
<GridLayout class="fondo"></GridLayout>
<StackLayout class="fondoreporte">
    <Label class="title" text="{{detalleTerapia.nombreTerapia}}" textWrap="true"></Label>
    <Image src="{{detalleTerapia.imagen}}"></Image>
    <Label class="title" text="Descripción de terapia:" textWrap="true"></Label>
    <TextView text="{{detalleTerapia.descripcion}}" editable="false"></TextView>
    <Label class="title" text="Enlaces de terapia:" textWrap="true"></Label>
    <TextView text="{{detalleTerapia.enlace}}" editable="false"></TextView>
</StackLayout>
