<ActionBar title="Terapias" class="barra">
    <NavigationButton ios:visibility="collapsed" icon="res://baseline_arrow_back_white_18" (tap)="onNavigate()">
    </NavigationButton>
    <ActionItem icon="res://baseline_arrow_back_white_18" android:visibility="collapsed" ios.position="left"
        (tap)="onNavigate()">
    </ActionItem>
    <Label text="Terapias" class="titulo"> </Label>
</ActionBar>
<GridLayout class="fondo"></GridLayout>
<GridLayout class="fondoreporte"></GridLayout>
<GridLayout tkExampleTitle tkToggleNavButton>
    <RadListView [items]="listaProcedimiento" marginRight="-1" backgroundColor="#e6e6e6">
        <ListViewStaggeredLayout tkListViewLayout scrollDirection="Vertical"
            spanCount="2"></ListViewStaggeredLayout>
        <ng-template tkListItemTemplate let-item="item">
            <StackLayout margin="5" (tap)="onNavigate(item)">
                <Image src="{{ item.imagen }}" class="imagenLista" width="200" height="150"
                    stretch="aspectFill"></Image>
                <StackLayout backgroundColor="white" padding="10" class="nombreLista">
                    <Label text="{{ item.procedimiento }}" class="item-name" textWrap="true"></Label>
                </StackLayout>
            </StackLayout>
        </ng-template>
    </RadListView>
</GridLayout>