<ActionBar title="Pagina principal" class="barra">
	<NavigationButton ios:visibility="collapsed" icon="res://boton_burger" (tap)="onDrawerButtonTap()">
	</NavigationButton>
	<ActionItem icon="res://boton_burger" android:visibility="collapsed" ios.position="left"
		(tap)="onDrawerButtonTap()">
	</ActionItem>
	<Label text="Progreso paciente" class="titulo"> </Label>
</ActionBar>
<GridLayout class="fondo"></GridLayout>
<GridLayout class="fondoreporte">
	<label class="titulo" text="Progreso de terapia"></label>
	<GridLayout  rows="auto, *" style="height: 1500px;">
		<RadCartesianChart row="0" id="cartesianChart" style="height: 100%">
			<CategoricalAxis tkCartesianVerticalAxis labelSize="40" labelMargin="10"></CategoricalAxis>
			<LinearAxis tkCartesianHorizontalAxis  labelLayoutMode="111" maximum="3" majorStep="1" labelFormat="%.0f"></LinearAxis>
			<BarSeries tkCartesianSeries  paletteMode="items" [items]="this.exploracionesFonologicas"
				categoryProperty="fechaExploracionFonlogica" valueProperty="gradoNumero" seriesName="Progreso del paciente">
			</BarSeries>
		</RadCartesianChart>		
	</GridLayout>
	<Label text="Rangos:" textWrap="true"></Label>
	
</GridLayout>

