<ActionBar title="Pagina principal" class="barra">
	<NavigationButton ios:visibility="collapsed" icon="res://boton_burger" (tap)="onDrawerButtonTap()">
	</NavigationButton>
	<ActionItem icon="res://boton_burger" android:visibility="collapsed" ios.position="right"
		(tap)="onDrawerButtonTap()">
	</ActionItem>
	<ActionItem tap="onSave" ios.systemIcon="3" android.systemIcon="ic_menu_save" ios.position="right"  (tap)= "onTap($event)" ></ActionItem>
	<Label text="Progreso paciente" class="titulo"> </Label>
</ActionBar>
<GridLayout class="fondo"></GridLayout>

<GridLayout class="fondoreporte" id="layout" #main>
	<GridLayout  rows="auto,auto,*,auto" style="height: 4000px;">
		<StackLayout row="0" class="paciente">
			<Label text="DATOS GENERALES DEL PACIENTE " class="paciente-titulo"></Label>
			<Label class="paciente-text" text="Nombre del paciente:" ></Label>
			<Label class="paciente-text" text="{{nombrePaciente}}" ></Label>
			<Label class="paciente-text" text="Número de expediente: {{numeroExpediente}}" ></Label>
			<Label class="paciente-text-bottom" text="Edad: {{edadPaciente}} Años"></Label>
		</StackLayout>
		<StackLayout row="1" class="rango">
			<Label class="t-t-r" text="RANGOS DE PROGRESO"></Label>
			<Label class="t-text-r" text="1 = Severo (Balbucea) ... 7 = Ideal (Dice oraciones)" ></Label>
		</StackLayout>
		<StackLayout row="2">
		<RadCartesianChart >
			<CategoricalAxis tkCartesianVerticalAxis></CategoricalAxis>
			<LinearAxis  maximum="7" majorStep="1" labelFormat="%.0f" tkCartesianHorizontalAxis></LinearAxis>
			<LineSeries tkCartesianSeries [items]="this.exploracionesFonologicas" categoryProperty="fechaExploracionFonlogica" valueProperty="nivelNumero"></LineSeries>
		</RadCartesianChart>
		</StackLayout>
		<StackLayout row="3" >
			<Label textWrap="true" class="nota" text="* La información proporcionada es responsabilidad del médico especialista a cargo." ></Label>
		</StackLayout>


	</GridLayout>
	<Image id="img" stretch="aspectFill" visibily="collapsed" (pan)="onPan($event)"></Image>
</GridLayout>
