<RadSideDrawer [drawerTransition]="sideDrawerTransition">
    <GridLayout tkDrawerContent rows="auto, *">
        <StackLayout row="0" class="barra-menu">
            <Label></Label>
            <Label class="nt-drawer__header-brand" text="User Name"></Label>
            <Label class="nt-drawer__header-footnote" text="username@mail.com"></Label>
        </StackLayout>
        <ScrollView row="1">
            <StackLayout>
                <GridLayout columns="auto, *" class="nt-drawer__list-item"
                    [class.-selected]="isComponentSelected('/reporte-diagnostico')"
                    (tap)="onNavItemTap('/reporte-diagnostico')">
                    <Image class="m-r-10 imageDrawer" src="res://reporte_icono" width="25" height="25"
                        verticalAlignment="center">
                    </Image>
                    <Label col="1" text="Reporte de diagnósticos" class="p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" class="nt-drawer__list-item"
                    [class.-selected]="isComponentSelected('/citas')" (tap)="onNavItemTap('/citas')">
                    <Image imageDrawer class="m-r-10" src="res://reportecitas_icono" width="25" height="25"
                        verticalAlignment="center">
                    </Image>
                    <Label col="1" text="Reporte de citas" class="p-r-10"></Label>
                </GridLayout>
                <GridLayout columns="auto, *" class="nt-drawer__list-item"
                    [class.-selected]="isComponentSelected('/progreso')" (tap)="onNavItemTap('/progreso')">
                    <Image imageDrawer class="m-r-10" src="res://progreso_icono" width="25" height="25"
                        verticalAlignment="center">
                    </Image>
                    <Label col="1" text="Progreso del paciente" class="p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" class="nt-drawer__list-item"
                    [class.-selected]="isComponentSelected('/terapias')" (tap)="onNavItemTap('/terapias')">
                    <Image class="m-r-10 imageDrawer" src="res://terapia_icono" width="25" height="25"
                        verticalAlignment="center"></Image>
                    <Label col="1" text="Terapias" class="p-r-10"></Label>
                </GridLayout>

                <StackLayout class="hr"></StackLayout>

                <GridLayout columns="auto, *" class="nt-drawer__list-item"
                    [class.-selected]="isComponentSelected('/notificaciones')" (tap)="onNavItemTap('/notificaciones')">
                    <Image class="m-r-10 imageDrawer" src="res://notificacion_icono" width="25" height="25"
                        verticalAlignment="center">
                    </Image>
                    <Label col="1" text="Notificaciones" class="p-r-10"></Label>
                </GridLayout>

            </StackLayout>
        </ScrollView>
    </GridLayout>

    <page-router-outlet tkMainContent></page-router-outlet>
</RadSideDrawer>
