<ActionBar title="Terapias" class="barra">
    <NavigationButton ios:visibility="collapsed" icon="res://baseline_arrow_back_white_18" (tap)="onNavigate()">
    </NavigationButton>
    <ActionItem icon="res://baseline_arrow_back_white_18" android:visibility="collapsed" ios.position="left"
        (tap)="onNavigate()">
    </ActionItem>
    <Label text="{{detalleProcedimiento.procedimiento}}" class="titulo"> </Label>
</ActionBar>
<GridLayout class="fondo"></GridLayout>
<GridLayout tkExampleTitle tkToggleNavButton>
    <RadListView [items]="listaTerapia" marginRight="-1" backgroundColor="#e6e6e6" class="fondoreporte">
        <ListViewStaggeredLayout tkListViewLayout scrollDirection="Vertical" spanCount="1"></ListViewStaggeredLayout>
        <ng-template tkListItemTemplate let-item="item">
            <FlexboxLayout class="item-lista" justifyContent="space-between" alignItems="center" alignContent="center">
                <Label class="item-lista" text="{{item.nombreTerapia}}" class="title" (tap)="goCollapse($event)">
                </Label>
                <Image src="res://baseline_expand_more_black_18" class="icon" [ngClass]='{ collapse: isCollapsed }'
                    (tap)="goCollapse($event)"></Image>
                <StackLayout class="item-lista" [visibility]="showCollapseBox ? 'visible' : 'collapse'">
                    <TextView class="paciente-text-dato" text="{{item.descripcion}}" editable="false">
                    </TextView>
                </StackLayout>

            </FlexboxLayout>
        </ng-template>
    </RadListView>
</GridLayout>