<ActionBar title="Terapias" class="barra">
    <NavigationButton ios:visibility="collapsed" icon="res://baseline_arrow_back_white_18" (tap)="onNavigate()">
    </NavigationButton>
    <ActionItem icon="res://baseline_arrow_back_white_18" android:visibility="collapsed" ios.position="left"
        (tap)="onNavigate()">
    </ActionItem>
    <Label text="{{detalleProcedimiento.procedimiento}}" class="titulo"> </Label>
</ActionBar>
<GridLayout class="fondo"></GridLayout>
<GridLayout class="fondoreporte" rows="25,5,*">
    <Label row="0" class="title2" text="Seleccione un ejercicio: "></Label>
    <StackLayout row="1" class="hr"></StackLayout>
    <ListView [items]="listaTerapia" row="2">
        <ng-template let-item="item" let-i="index">
            <FlexboxLayout (Tap)="onItemTap(item)">
                <Label textWrap="true" class="title" [text]="item.nombreTerapia"></Label>
            </FlexboxLayout>
        </ng-template>
    </ListView>
</GridLayout>

<!--
<RadListView class="list-group" [items]="listaTerapia" >
    <ng-template let-item="item">
        <StackLayout (Tap)="onItemTap(item)">
            <Label textWrap="true" class="title" text="{{ i + 1 }}" ></Label>
            <Label textWrap="true" class="title" [text]="item.nombreTerapia"></Label>
            <Label class="hr"></Label>
        </StackLayout>
    </ng-template>
</RadListView>

-->
