<ActionBar title="Terapias" class="barra">
    <NavigationButton ios:visibility="collapsed" icon="res://baseline_arrow_back_white_18" (tap)="onNavigate()">
    </NavigationButton>
    <ActionItem icon="res://baseline_arrow_back_white_18" android:visibility="collapsed" ios.position="left"
        (tap)="onNavigate()">
    </ActionItem>
    <Label text="{{detalleProcedimiento.procedimiento}}" class="titulo"> </Label>
</ActionBar>
<GridLayout class="fondo"></GridLayout>
<GridLayout class="fondoreporte">
    <RadListView class="list-group" [items]="listaTerapia" >
        <ng-template let-item="item">
            <FlexboxLayout (Tap)="onItemTap(item)">
                <Label class="title" [text]="item.nombreTerapia"></Label>
            </FlexboxLayout>
        </ng-template>
    </RadListView>
</GridLayout>