<ActionBar title="Pagina principal" class="barra">
    <NavigationButton ios:visibility="collapsed" icon="res://boton_burger" (tap)="onDrawerButtonTap()">
    </NavigationButton>
    <ActionItem icon="res://boton_burger" android:visibility="collapsed" ios.position="left"
        (tap)="onDrawerButtonTap()">
    </ActionItem>
    <Label text="Pagina principal" class="titulo"> </Label>
</ActionBar>
<GridLayout class="fondo"></GridLayout>
<StackLayout class="contenido">
    <Label text="BIENVENIDO"></Label>
    <TextView text="Esta herramienta te ayuda a tener visibilidad sobre el progreso que el paciente tiene dentro
    de su terapia del lenguaje en el centro de rehabilitación el inclusión social de veracruz (CRISVER)." editable="false"></TextView>
</StackLayout>

